[Unit]
Description=Concurrent Calls Service by echodaniel
After=network.target

[Service]
ExecStart=/home/concurrentcalls.sh
Restart=Always

[Install]
WantedBy=multi-user.target
